@value projectH: 20rem;
@value projectW: 20rem;

.container {
  padding: 2rem 0;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
  row-gap: 2rem;
}

.project {
  border: 0.2rem solid red;
  flex-basis: 20%;
  min-height: projectH;
  min-width: projectW;
}

/*
 * we should have a child span element in order to
 * have the text aligned vertically
 * */
.projectTitle {
  color: red;
  width: 100%;
  min-height: 5rem;
  text-align: center;
  vertical-align: middle;
  padding: 1rem 0;
}

.projectTeaser {
  height: calc(projectH - 5rem);
}

